<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />

    <link rel="manifest" href="~/manifest.json">
    <script src="https://kit.fontawesome.com/3e059bb890.js" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/3e059bb890.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/images/logo512.png" alt="Bootstrap" width="40" height="30">
            </a>
            <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasNavbar" role="button" aria-controls="offcanvasNavbar"><i class="fa-solid fa-bars"></i></a>
            @* <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            @* <span class="navbar-toggler-icon"></span>
            <i class="fa-solid fa-bars"></i>
            </button> *@
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Hello @User.Identity.Name</h5>
                    }

                    <a class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></a>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="btn btn-primary m-2" aria-current="page" href="/index">Lucky Number Game</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-primary m-2" aria-current="page" href="/Coinflip">Head/Tail Game</a>
                        </li>
                        <li class="nav-item m-2">
                            @{
                                await Html.RenderPartialAsync("_LoginPartial");
                            }
                        </li>

                    </ul>

                </div>
            </div>
        </div>
    </nav>
    @RenderBody()

    <footer class="border-top footer text-muted">
        @* <div class="container">
        &copy; 2023 - NumGameWeb - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div> *@
    </footer>


    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.10/signalr.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>