@page "/Coinflip"
@model NumGameWeb.Pages.CoinFlipModel
@{
    ViewData["Title"] = "Coin Flip Game";
}

<div class="container mt-3 mb-3">
    <div class="row">
        <div class="col-md-12 text-center">
            <div id="countdown">
                <h1 class="text-danger">OPENING TIME</h1>
                <div id='timer'></div>
                <div class="labels">
                    <span>Mins</span>
                    <span>Secs</span>
                </div>
            </div>
            <hr />

        </div>
        
        <div class="col-md-12 text-md-start">
            <div class="d-flex justify-content-between">
                <h2><i class="fas fa-wallet ml-3"></i> <span id="Wallet">@Model.UserData?.wallet ₹</span></h2>
                <a href="/UserHistory?type=coin"  class="btn btn-primary btn-sm">Payment History</a>
            </div>
        </div>
       
        <hr />
    </div>
    <div class="col-md-12 d-flex justify-content-center text-center">
    <div class="coin" id="coin">
            @if (Model.CoinSide == "head") 
            {
                <div class="heads">
                    <img src="~/heads.png">
                    <strong>HEAD</strong>
                </div>
            }else {
                <div class="tails">
                    <img src="~/tails.png">
                    <strong>TAIL</strong>
                </div>
            }
        
        
    </div>

    </div>
    <div class="row align-content-center mt-5">
        <div class="col-md-12 d-flex justify-content-center" id="ButonsCoins">
            <button type="button" class="btn btn-info btn-lg position-relative" id="HeadsBtn">Heads</button>
            <button type="button" class="btn btn-warning btn-lg mr-3 position-relative" id="TailsBtn">Tails</button>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-12 d-flex justify-content-center mt-2 mb-3">
            <div id="pricebutons" class="col-5">
                <div class="btn-group">
                    <input type="radio" name="priceBtn" value="1" class="btn-check" id="btnone" autocomplete="off" checked="">
                    <label class="btn btn-outline-primary" for="btnone">1₹</label>
                    <input type="radio" name="priceBtn" value="5" class="btn-check" id="btntwo" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btntwo">5₹</label>
                    <input type="radio" name="priceBtn" value="10" class="btn-check" id="btnthree" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnthree">10₹</label>
                    <input type="radio" name="priceBtn" value="50" class="btn-check" id="btnfour" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnfour">50₹</label>

                </div>
                <div class="btn-group mt-3">
                    <input type="radio" name="priceBtn" value="100" class="btn-check" id="btnfive" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnfive">100₹</label>
                    <input type="radio" name="priceBtn" value="500" class="btn-check" id="btnsix" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnsix">500₹</label>
                    <input type="radio" name="priceBtn" value="1000" class="btn-check" id="btnseven" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnseven">1000₹</label>


                </div>
            </div>
        </div>
        <div class="col-md-12 text-center mb-5">
            <div class="mb-1">
                <h4>Your Total Bet <span class="badge bg-success badge-light" id="TotalBet">0</span></h4>
            </div>
            <button type="button" id="Confirmclick" class="btn btn-success btn-sm mr-3 m-3">Confirm Bet!</button>
            <button type="button" id="Cancelclick" class="btn btn-danger btn-sm mr-3 m-3">Cancel Bet!</button>


        </div>
    </div>
</div>
<div class="modal fade" id="WinnerModal" role="dialog">
    <div class="modal-dialog">
        <div class="card">
            <div class="text-right cross"> <i class="fa fa-times"></i> </div>
            <div class="card-body text-center">
                <img src="https://img.icons8.com/bubbles/200/000000/trophy.png">
                <h3>CONGRATULATIONS!</h3>
                <label> Winning Number</label>
                <h5 id="WinningNumber"></h5><br />
                <label>Winning Price</label>
                <h6 id="WinningPrice"></h6>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="notificationModal" tabindex="-1" aria-labelledby="notificationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">
                    <i id="notificationIcon" class=""></i>
                    <p id="notificationMessage"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="installModal" tabindex="-1" aria-labelledby="installModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="installModalLabel">Install App</h5>
            </div>
            <div class="modal-body">
                <p>Would you like to install our app and access it easily from your home screen?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="installButton">Install</button>
                <button type="button" class="btn btn-primary" style="display:none" id="OpenApp">Open App</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/flipcoin.js" asp-append-version="true"></script>
    <script>
        localStorage.setItem('walletBalance', @Model.UserData?.wallet);
    </script>
}